.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color:white;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color:chocolate;
    padding-left: 15px;
}
.reset{
    width:100px;
    height:30px;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius: 10px;
    background:grey;
    font-size:10px;
    color:chartreuse;
    margin-top: 10px;
    margin-bottom: 10px;
}
.boxes{
    display: flex;
    height: 50px;
    width:50px;
    background:rgb(102, 101, 163);
    border:4px solid rgb(119, 100, 102);
    border-radius: 12px;
    cursor:pointer
}
.board{
    height:250px;
    width:250px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.boxes img{
    margin:20px 20px;
}
.title img{
    padding:20px;
    height:30px
}